body{
    background-color: #F6F6F6 !important;
}

.chart{
    margin: 30px;
    /*padding-left: 10px;*/
}

.chart-parent{
    align-content: center;
}

.chart h1{
    text-align: center;
    color: #5a5a5a;
}

.heading h1{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    color: #03A8F5;
}
.row{
    padding: 0px !important;
    margin: 0px !important;
}